.metrics {
  &__list {
    position: relative;
    margin: 0 0 -32px;

    @media (min-width: 576px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-point {
      padding: 0 16px 32px;
      text-align: center;

      @media (min-width: 576px) {
        max-width: 33.333%;
      }

      @media (min-width: 1400px) {
        min-width: 9vw;
      }

      :nth-child(3n + 1) {
        @media (min-width: 576px) {
          padding-left: 0;
        }
      }
    }
  }

  &__item {
    &-title {
      font-size: 2.6rem;
      font-weight: 800;

      @media (min-width: 1200px) {
        font-size: 3.4rem;
      }
    }

    &-desc {
      text-transform: uppercase;
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
    }
  }
}
