.cats__header {
  padding-bottom: 64px;

  @media (max-width: 767px) {
    .section__header-title::before {
      z-index: 0;
    }
  }
}

.project__item {
  position: relative;

  .section__body {
    position: unset !important;
  }
}

@media (min-width: 992px) {
  .project__item:nth-child(2n) {
    .pride_cats_img {
      right: 0 !important;
      left: auto;

      &-before {
        &:before {
          right: 0 !important;
          left: auto;
        }
      }
    }

    .section__body-col {
      order: 2;
    }
  }

  .project__item:nth-child(2n) {
    .section__body-col + .section__body-col {
      order: 1;
    }
  }
}

.pride_cats_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;

  @media (max-width: 767px) {
    width: 100%;
    height: 50vw;
    position: relative;
  }

  &-before {
    @media (max-width: 767px) {
      position: relative;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      display: none;
    }

    img {
      max-width: 100%;
      vertical-align: middle;
      border-style: none;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1 !important;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      pointer-events: none;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.pride__item-content {
  position: relative;
}
