.cats__header {
  padding-bottom: 64px;
}

.project__item {
  position: relative;

  .section__body {
    position: unset !important;
  }

  .pride_cats_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;

    &-before {
      img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 1 !important;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        pointer-events: none;
      }
    }
  }
}
