.section {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &--dark {
    background-color: var(--color-dark);
    color: var(--color-white);
  }

  @media (max-width: 767px) {
    text-align: center;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &-col {
      flex-basis: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      padding: 32px;

      .separ--small {
        flex-basis: 1.7vw;
        height: 1.7vw;
      }

      @media (min-width: 1200px) {
        padding-left: 64px;
        padding-right: 64px;
      }

      @media (min-width: 992px) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    @media (min-width: 576px) {
      padding: 0 10vw;
    }

    @media (min-width: 992px) {
      flex-grow: 1;
    }
  }

  &__header {
    // margin-top: auto;

    &-title {
      display: block;
      position: relative;
      line-height: 1.2;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 400;
      padding-bottom: 1rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 8px;
        width: 128px;
        background-color: var(--color-primary);

        @media (max-width: 767px) {
          z-index: -1;
          left: 50%;
          margin-left: -64px;
        }
      }

      strong {
        font-weight: 700;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 2rem;
      }

      @media (min-width: 1200px) {
        font-size: 2.6rem;
      }
    }

    &-subtitle {
      display: block;
      font-size: 1rem;
      margin-top: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    strong {
      display: block;
    }
  }

  &__content {
    // margin-top: auto;

    h1 {
      font-size: 1.2rem;
      line-height: 1.4;
      margin-bottom: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1.6rem;
      margin-top: 0;
    }

    @media (min-width: 768px) {
      ul {
        list-style-type: disc;
      }
    }
  }

  &__buttons {
    margin-top: auto;
    padding-top: 4rem;

    .button {
      position: relative;
      display: inline-block;
      text-align: center;
      color: var(--color-black);
      font-size: 0.7rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: 2px var(--color-black) solid;
      background-color: transparent;
      line-height: 1.4;
      padding: 12px 32px;
      width: 100%;
      transition: all 0.25s;

      &--white {
        color: var(--color-white);
        border-color: var(--color-white);
      }

      &:hover,
      &:focus,
      &:active {
        border-color: var(--color-primary);
        color: var(--color-primary);
      }

      @media (min-width: 1400px) {
        padding: 1.2vw 3vw;
      }
    }
  }
}

.button-more {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-weight: 400;
  margin-top: 1.5rem;
}

.align-center {
  align-self: center;
}

.col-sm-p-0 {
  @media (max-width: 767px) {
    padding: 0 0 32px 0;
  }
}
