$icomoon-font-family: 'pcg' !default;
$icomoon-font-path: 'fonts' !default;

$pcg-chevron-left: '\e899';
$pcg-chevron-right: '\e900';
$pcg-home: '\e901';
$pcg-services: '\e903';
$pcg-projects: '\e902';
