.separ {
  position: inherit;
  width: 100%;
  -ms-flex-preferred-size: 6.8vw;
  flex-basis: 6.8vw;
  height: 6.8vw;
  z-index: 5;

  &--small {
    -ms-flex-preferred-size: 3.4vw;
    flex-basis: 3.4vw;
    height: 3.4vw;
  }

  @media (min-width: 768px) {
    &--border {
      &-top {
        border-top: 1px solid var(--color-gray-200);
      }

      &-bottom {
        border-bottom: 1px solid var(--color-gray-200);
      }

      &-both {
        border-bottom: 1px solid var(--color-gray-200);
        border-top: 1px solid var(--color-gray-200);
      }
    }
  }
}
