.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    height: 6.8vw;
    min-height: 6.8vw;
    border-bottom: 1px solid var(--color-gray-200);
    z-index: 3;
  }

  &__body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10vw;

    &-col {
      display: flex;
      display: -ms-flexbox;
      //   display: -webkit-box;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      padding: 32px 64px;
      z-index: 3;
    }
  }

  &__footer {
    height: 6.8vw;
    min-height: 6.8vw;
    border-top: 1px solid var(--color-gray-200);
    z-index: 3;
  }
}

.section {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo {
  width: 145px;
}
