.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__logo {
    position: relative;
    width: 55%;
    display: block;
    align-self: center;
    margin-top: auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      max-width: 160px;
    }

    @media (min-width: 576px) {
      display: none;
    }
  }

  .section__body {
    flex-grow: 1;
  }

  &__header {
    height: 6.8vw;
    min-height: 6.8vw;
    display: flex;
    position: relative;
    z-index: 3;

    &-logo {
      display: block;
      height: 100%;
      width: 10vw;
      padding: 8px;
      object-fit: contain;
      object-position: center;

      img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    // padding: 0 10vw;

    &-col {
      display: flex;
      display: -ms-flexbox;
      //   display: -webkit-box;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      padding: 32px 64px;
      z-index: 3;

      @media (max-width: 575px) {
        padding-top: 96px;
      }

      &.fullwidth {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  &__footer {
    height: 6.8vw;
    min-height: 6.8vw;
    z-index: 3;

    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .section__header {
      padding-bottom: 64px;
      position: relative;
      top: 0;
    }
  }
}

.section {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

// .fullwidth {
// -ms-flex-preferred-size: 100%;
// flex-basis: 100%;
// max-width: 100%;
// }
