@media (max-width: 767px) {
  .template-error .header {
    min-height: calc(100vh - 70px);
  }
}
@media (max-width: 767px) {
  .template-error .header .section__header {
    margin-top: auto;
  }
}
.template-error .header .section__header {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .template-error .header .section__content {
    margin-top: 0;
  }
}
