.project {
  &__header {
    position: relative;

    &-title {
      position: relative;
      top: 0;
      margin-bottom: 64px;
    }

    &-list {
      margin-top: 64px;

      ol,
      ul {
        list-style: none;
      }

      li {
        margin-bottom: 0.6rem;
      }

      ul li {
        position: relative;
        padding-left: 1rem;

        &::before {
          content: '-';
          position: absolute;
          left: 0;
          top: 0;
          width: 1rem;
          height: 100%;
          display: flex;
          align-items: baseline;
          color: var(--color-primary);
          font-weight: 600;
        }
      }
    }
  }

  &__desc {
    margin-top: 64px;
  }

  @media (min-width: 992px) {
    min-height: 100vh;
  }

  &-gallery {
    &__list {
      position: relative;
      overflow: auto;
      display: flex;

      &-point {
        padding: 0 8px 0 0;
      }
    }

    @media (min-width: 1400px) {
      margin-top: calc(-10.2vw - 1px);
      height: calc(100% + 6.8vw);
    }

    @media (min-width: 992px) {
      &__list {
        position: sticky;
        top: 0;
        flex-direction: column;

        &-point {
          padding: 0 0 8px 0;
        }
      }

      position: absolute;
      left: 50%;
      margin-top: calc(-3.4vw - 102px - 1px);
      height: calc(100% + 102px);
      padding: 0 0 0 8px;
      margin-right: -10vw;
    }
  }
}
