$btn-color: var(--#{prefix}body-color);
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;

.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  color: var(--color-black);
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px var(--color-black) solid;
  background-color: transparent;
  line-height: 1.4;
  padding: 12px 32px;
  border-radius: 0 !important;

  @media (min-width: 1400px) {
    padding: 1.2vw 3vw;
  }

  &:focus,
  &:active,
  &:hover {
    outline: none;
    box-shadow: none;
    border: 2px var(--color-white) solid !important;
    color: var(--color-white) !important;
  }

  &-black {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    &-outline {
      border: 1px solid var(--color-black) !important;
      &:focus,
      &:active,
      &:hover {
        color: var(--color-white) !important;
      }
    }
  }

  @each $color-name, $color-value in $colors {
    &-#{'' + $color-name} {
      background-color: var(--color-#{$color-name}) !important;
      &:focus,
      &:active,
      &:hover {
        border: 1px solid transparent !important;
        background-color: var(--color-#{$color-name}-80) !important;
      }
    }
    &-color-#{'' + $color-name} {
      color: var(--color-#{$color-name}) !important;
      &:focus,
      &:active,
      &:hover {
        border: 1px solid transparent !important;
        color: var(--color-#{$color-name}) !important;
      }
    }
  }
}
