@include font-face('Inter', 'Inter-Regular', 400);
@include font-face('Inter', 'Inter-Medium', 500);
@include font-face('Inter', 'Inter-SemiBold', 600);
@include font-face('Inter', 'Inter-Bold', 700);
@include font-face('Montserrat', 'Montserrat-Regular', 400);
@include font-face('Montserrat', 'Montserrat-Medium', 500);
@include font-face('Montserrat', 'Montserrat-SemiBold', 600);
@include font-face('Montserrat', 'Montserrat-Bold', 700);
